<!DOCTYPE html>
<html>
<style>

body{
	background-color:#FFFFCC;
}

#header {
	position: relative;
	background-color: #CCCC99;
	border-radius:1px;
	text-align:center;
	font-family:Verdana,Times,sans;
	font-weight:bold;
	font-size:20px;
	margin-top:2.4%;
}

#navbar {
	position:fixed;
	text-align:center;
	font-family:Verdana,Times,sans;
	font-weight:bold;
	font-size:15px;
	margin-top:-3.1%;
	
}

#right_img{
	float:right;
	width:40%;
}

#left_text{
	float:left;
	width:55%;
	font-family:Georgia,sans;
	font-size:1.3em;
}

#navbar ul{
	list-style-type: none;
	position: fixed;
}

#navbar ul li {
	border: 2px solid #999966;
	font-family: Futura, Tahoma, sans-serif;
	color: #330000;
	border-radius: 3px;
	background-color: #CCCC99;
	padding:5px 5px 5px 5px;
	display:inline;	
}

#navbar a{
    text-decoration:none;
}
/* unvisited link */
#navbar a:link {
    color: #330000;
}

/* visited link */
#navbar a:visited {
    color: #330000;
}

/* mouse over link */
#navbar a:hover {
    color: #330000;
}

/* selected link */
#navber a:active {
    color: #330000;
}


table{ 
	border:2px solid black;

	width:100%;
}

</style>
<head>
	<title>
		Coding experience
	</title>
</head>
<body>
	<div id="header">
		<div id="navbar">
			<ul>
				<li><a href="{{ url_for('home') }}">About me</a></li>
				<li><a href="{{ url_for('school') }}">My school</a></li>
				<li><a href="{{ url_for('computer') }}">Coding experience</a></li>
				<li><a href="{{ url_for('hobbies') }}">Hobbies</a></li>
				<li><a href="{{ url_for('ai') }}">AI</a></li>
				<li><a href="{{ url_for('plans') }}">Plans</a></li>

			</ul>
		</div>
		<h2>My coding experience</h2>
	</div>
	<div id="right_img">
		<img src="http://i.imgur.com/qS4KOgZ.png"/>
	</div>
	<div id="left_text">
		<p>I didn't know where to put an internal link, so I put one here: <a href=#int_link>this one will send you directly to information about how much time I spend with computer.</a></p>
		<p>First I started coding at fifth grade - I was taught elementary things with Logo Writer then at 7th grade I was learning Turbo Pascal and at 9th grade I moved on C++.</p>
		<p> Programming activity was always exciting for me as long as it meant creation new interesting things and products.</p>
		<p>When I was at 6th grade, my parents bought me a personal laptop. Windows 7 was installed there for default, but I changed it to Linux and since then I use Linux systems for daily tasks. I tried many flavors of Linux and my favorite for today is Arch Linux. Gorgeous distributive! As user you have there so much power to create system that fits you. And that's why I love it!</p>
		<p>Then at 11th grade I learned Python and completely fell in love with this language. Easy syntax and great documentation made this language and most of it's additional libraries and frameworks best choice for ones who want to create new things fast. </p>
		<p>On the second year at university I finished database course at Stanford Lagunita. It was really interesting to gain knowledge about DBs, so I watched it and tried to get as more from that course as I could.</p>
		<p>For today I had experience with:</p>
	<ul>
		<li>Logo Writer - first experience</li>
		<li>Turbo Pascal - advanced experience. Tried even to write graphical game, but I didn't have enough knowledge about product creation strategy and failed</li>
		<li>C++ - Can't say that I like it much, but it's not a bad thing to use.</li>
		<li>Python - stil my favorite language. Use Flask for web because it's easy.</li>
		<li>SQL;JSON;XML - learned or heard about them from Stanford course.</li>
	</ul>
		<p id="int_link">I have access to computer every single minute. So I spend with it almost all my time (except time when I'm commuting or taking a shower or sleeping, yeah).</p>
	</div>
</body>
</html>
