<!DOCTYPE html>
<html>
<style>
body {
	background-color:#FFFFCC;
}

#header {
	position: relative;
	background-color: #CCCC99;
	border-radius:1px;
	text-align:center;
	font-family:Verdana,Times,sans;
	font-weight:bold;
	font-size:20px;
	margin-top:2.4%;
}

#navbar {
	position:fixed;
	text-align:center;
	font-family:Verdana,Times,sans;
	font-weight:bold;
	font-size:15px;
	margin-top:-3.1%;
	
}

#left_img{
	float:left;
	width:40%;
}

#right_text{
	float:right;
	width:55%;
	font-family:Georgia,sans;
	font-size:1.3em;
}

#navbar ul{
	list-style-type: none;
	position: fixed;
}

#navbar ul li {
	border: 2px solid #999966;
	font-family: Futura, Tahoma, sans-serif;
	color: #330000;
	border-radius: 3px;
	background-color: #CCCC99;
	padding:5px 5px 5px 5px;
	display:inline;

	
}
a{
    text-decoration:none;
}

a:link {
    color: #330000;
}

a:visited {
    color: #330000;
}

a:hover {
    color: #330000;
}

a:active {
    color: #330000;
}

</style>
<head>
	<title>
		About me
	</title>
</head>
<body>
	<div id="header">
		<div id="navbar">
			<ul>
				<li><a href="{{ url_for('home') }}">About me</a></li>
				<li><a href="{{ url_for('school') }}">My school</a></li>
				<li><a href="{{ url_for('computer') }}">Coding experience</a></li>
				<li><a href="{{ url_for('hobbies') }}">Hobbies</a></li>
				<li><a href="{{ url_for('ai') }}">AI</a></li>
				<li><a href="{{ url_for('plans') }}">Plans</a></li>
			</ul>
		</div>
		<h2>About me</h2>
	</div>
	<div id="left_img">
		<img src="http://i.imgur.com/2XCOWRj.png"/>
	</div>
	<div id="right_text">
	<p>Hello! My name is Andrey Poprygin. I was born in Ukraine 18 february, 1997. Now I live in Kharkiv, Ukraine.</p>
	<p>I study at NURE at group CS-14-5 and this site is actually my hometask for today. There're some links up here, click them. :) </p>
	<p>
	</div>
</body>
</html>
