<!DOCTYPE html>
<meta charset="UTF-8"> 
<html>
<style>

body{
	background-color:#FFFFCC;
	text-decoration:none;
}

#header {
	position: relative;
	background-color: #CCCC99;
	border-radius:1px;
	text-align:center;
	font-family:Verdana,Times,sans;
	font-weight:bold;
	font-size:20px;
	margin-top:2.4%;
}

#navbar {
	position:fixed;
	text-align:center;
	font-family:Verdana,Times,sans;
	font-weight:bold;
	font-size:15px;
	margin-top:-3.1%;
	
}

a{
	text-decoration:none;
}
/* unvisited link */
a:link {
  	color: #330000;
}

/* visited link */
a:visited {
   	color: #330000;
}

/* mouse over link */
a:hover {
 	color: #330000;
}

/* selected link */
a:active {
  	color: #330000;
} 

#center_text{
	float:auto;
	font-family:Georgia;
	font-size:1.5em;
}

#navbar ul{
	list-style-type: none;
	position: fixed;
}

#navbar ul li {
	border: 2px solid #999966;
	font-family: Futura, Tahoma, sans-serif;
	color: #330000;
	border-radius: 3px;
	background-color: #CCCC99;
	padding:5px 5px 5px 5px;
	display:inline;	
}

table{ 
	border:2px solid black;

	width:100%;
}

</style>
<head>
	<title>
		Plans
	</title>
</head>
<body>
	<div id="header">
		<div id="navbar">
			<ul>
				<li><a href="{{ url_for('home') }}">About me</a></li>
				<li><a href="{{ url_for('school') }}">My school</a></li>
				<li><a href="{{ url_for('computer') }}">Coding experience</a></li>
				<li><a href="{{ url_for('hobbies') }}">Hobbies</a></li>
				<li><a href="{{ url_for('ai') }}">AI</a></li>
				<li><a href="{{ url_for('plans') }}">Plans</a></li>

			</ul>
		</div>
		<h2>My plans</h2>
	</div>
	<div id="center_text">
		<p>My plans:</p>
		<ol>
			<li>Get a job</li>
			<li>Rent a flat</li>
			<li>Buy a car</li>
			<li>Buy a house</li>
			<li>Save money for retirement</li>
			<li>Be healthy grandpa :)</li>
		</ol>
	</div>
</body>
</html>
