<!DOCTYPE html>
<html>
<style>
body{
	background-color:#FFFFCC;
}

#header {
	position: relative;
	background-color: #CCCC99;
	border-radius:1px;
	text-align:center;
	font-family:Verdana,Times,sans;
	font-weight:bold;
	font-size:20px;
	margin-top:2.4%;
}

#navbar {
	position:fixed;
	text-align:center;
	font-family:Verdana,Times,sans;
	font-weight:bold;
	font-size:15px;
	margin-top:-3.1%;
	
}

#left_img{
	float:left;
	width:40%;
}

#right_text{
	float:right;
	width:55%;
	font-family:Georgia,sans;
	font-size:1.3em;
}

#navbar ul{
	list-style-type: none;
	position: fixed;
}

#navbar ul li {
	border: 2px solid #999966;
	font-family: Futura, Tahoma, sans-serif;
	color: #330000;
	border-radius: 3px;
	background-color: #CCCC99;
	padding:5px 5px 5px 5px;
	display:inline;

	
}
table{ 
	border:2px solid black;

	width:100%;
}
/*thead{
	font-weight:bold;
}*/

a{
    text-decoration:none;
}
/* unvisited link */
a:link {
    color: #330000;
}

/* visited link */
a:visited {
    color: #330000;
}

/* mouse over link */
a:hover {
    color: #330000;
}

/* selected link */
a:active {
    color: #330000;
}


</style>
<head>
	<title>
		My school
	</title>
</head>
<body>
	<div id="header">
		<div id="navbar">
			<ul>
				<li><a href="{{ url_for('home') }}">About me</a></li>
				<li><a href="{{ url_for('school') }}">My school</a></li>
				<li><a href="{{ url_for('computer') }}">Coding experience</a></li>
				<li><a href="{{ url_for('hobbies') }}">Hobbies</a></li>
				<li><a href="{{ url_for('ai') }}">AI</a></li>
				<li><a href="{{ url_for('plans') }}">Plans</a></li>
			</ul>
		</div>
		<h2>My school</h2>
	</div>
	<div id="left_img">
	<img src="http://i.imgur.com/hh0FIYK.png"/>
	</div>
	<div id="right_text">
	<p>I graduated 45 gymnasium in 2014. (Frankly, it's not a true photo) :) </p>
	<p>I liked my school so much because of fantastic teachers, but I didn't have a lot of favorite courses.</p>
	<p>Here's my list of favorite subjects at school:</p>
	<table border="1px">
		<thead>
			<tr>
				<th>Subject</th>
				<th>Teacher</th>
				<th>Why I actually liked it</th>
			</tr>
		<thead>
		<tr>
			<td>Programming</td>
			<td>Arzubov N.A.</td>
			<td>It was REALLY cool to create programs (even on LOGO Writer). Best subject ever! </td>
		</tr>
		<tr>
			<td>Literature</td>
			<td>Penina A.B</td>
			<td>This woman opened me a whole new method of reading books. She taught that to read the book isn't equal to finish it. We examined all details, tried to understand motivation of all the characters. This subject opened to me a new world of books.</td>
		</tr>
	</table>
	</div>
</body>
</html>
